body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
    background-image: linear-gradient(to bottom right, #8360c3, #2ebf91);
    background-attachment: fixed;
    color: white;
    font-family: 'Comfortaa', cursive;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#title {
    font-family: 'Comfortaa', cursive;
    font-size: 10vw;
}

#background {
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 12px;
}

label {
    font-weight: bold;
}

.container {
    width: 50%;
    border-radius: 5px;
    background: #f2f2f2;
    padding: 20px;
    color: black;
    text-align: left;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 12px;
}

#advanced {
    display: none;
}

/* Found some help from https://medium.com/@andybarefoot/a-masonry-style-layout-using-css-grid-8c663d355ebb
    to order card-like columns */
.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    width: 75%;
    margin: 0 auto;
    padding-bottom: 30px;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

.grid-item {
    border-radius: 5px;
    background: #fff7f7;
    padding: 12px;
    color: black;
    text-align: left;
    font-size: 20px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
}

#contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}